html {
  font-size: 100%%;
}

.cmti-10 {
    font-style: italic;
}
hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  margin: 0px 0 25px;
}
p.bibitem {
    text-indent: -2em;
    margin-left: 2em;
    margin-top:0.6em;
    margin-bottom:0.6em;
}
body {
    /*padding-top: 20px;*/
    padding-bottom: 60px;
    background-color: #fff;
    font-size: 100%;
}
#colorBar {
  height: 12px;
  background-color: #563d7c;
}
/* Custom container */
 .container {
    max-width: 670px;
}
.masthead > a {
	color: #555555;
}
.masthead > a:hover {
	text-decoration: none;
	color: #333333;
}
.navbar-nav {
  float: left;
  margin: 0;
}
.navbar-nav > li {
  float: left;
}
.navbar-nav > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
}
.navbar {
  border-radius: 4px;
  margin-bottom: 40px;
}
.page-header {
  padding-bottom: 0;
  margin: 40px 0 10px;
  border-bottom: none;
}
.publication-list > li {
  font-size: 85%;
}